{% extends "base.html" %}
{% block title %}Personify - {{artist.name}} Artist Page{% endblock %}
{% block head %}
<!-- Import Artist custom CSS.. -->
<link rel="stylesheet" type="text/css" href="/css/artist.css">
{% endblock %}

{% block content %}

<div class="container-fluid">
<h1>{{artist.name}}</h1>

<div class="row">
  <div class="col-xs-12">
    <a href="#">
      <img class="artist-img" src="{{echonest_util.get_artist_display_image(artist,placeholder_size=250)}}">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="media-list">
        {% set spotify_id = echonest_util.get_spotify_id(artist.id) %}
        {% if spotify_id %}
        <li class="media">
            <div class="media-body">
                <iframe src="https://embed.spotify.com/follow/1/?uri={{ spotify_id }}&size=basic&theme=light" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
            </div>
        </li>
        {% endif %}
        {% set twitter_handle = artist.get_twitter_id() %}
        {% if twitter_handle %}
        {% set twitter_profile_url = 'https://twitter.com/' ~ twitter_handle %}
        <li class="media">
            <div class="media-left artist-detail">
                <i class="fa fa-fw fa-twitter" style="color: #55acee;"></i>
            </div>
            <div class="media-body artist-detail">
                <a href="{{twitter_profile_url}}" class="btn btn-primary">See <strong>@{{twitter_handle}}</strong> on Twitter</a>
            </div>
        </li>
        {% endif %}
        <li class="media">
            <div class="media-left artist-detail">
                <i class="fa fa-fw fa-fire" style="color:orange;"></i>
            </div>
            <div class="media-body artist-detail">
                {{echonest_util.pretty_score(artist.hotttnesss)}} <small>Hotttnesss score</small>
            </div>
        </li>
        <li class="media">
            <div class="media-left artist-detail">
                <i class="fa fa-fw fa-headphones" style="color:blue;"></i>
            </div>
            <div class="media-body artist-detail">
                {{echonest_util.pretty_score(artist.familiarity)}} <small>Familiarity score</small>
            </div>
        </li>
    </ul>
  </div>
</div>
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#bios" aria-controls="bios" role="tab" data-toggle="tab">Bios</a></li>
        <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">News</a></li>
        <li role="presentation"><a href="#blogs" aria-controls="blogs" role="tab" data-toggle="tab">Blogs</a></li>
        <li role="presentation"><a href="#similar" aria-controls="similar" role="tab" data-toggle="tab">Similar</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active fade in" id="bios">
            <div style="padding-top:10px">
                {{elements.artist_bios_list(artist)}}    
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active fade" id="news">
            <div style="padding-top:10px">
                {{elements.artist_news_list(artist)}}    
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="blogs">
            <div style="padding-top:10px">
                {{elements.artist_blogs_list(artist)}}    
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="similar">
            <div style="padding-top:10px">
                {{elements.similar(artist)}}    
            </div>
        </div>
      </div>

    </div>
</div>
{% endblock %}