{# This contains HTML element macros. #}

{#
Create an artist media element.

See: http://getbootstrap.com/components/#media
#}
{% macro artist_list_element(artist) %}
{% set artist_link = '/artist?name='~artist.name %}
<li class="media">
    <div class="media-left">
      <a href="{{artist_link}}">
        <img class="media-object" src="{{echonest_util.get_artist_display_image(artist)}}" height="64" width="64">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="{{artist_link}}">{{artist.name}}</a></h4>
      <p>{{echonest_util.get_brief_bio(artist)}}</p>
    </div>
</li>
{% endmacro %}

{% macro artists_media_list(artist_list) %}
<ul class="media-list">
    {% for artist in artist_list %}
    {{artist_list_element(artist)}}
    {% endfor %}
</ul>
{% endmacro %}

{% macro artist_overview(artist) %}
{% endmacro %}

{% macro artist_bios_list(artist)%}
<ul class="media-list">
    {% for bio in artist.biographies %}
    <li class="media">
        <div class="media-body">
          <h4 class="media-heading"><a href="{{bio['url']}}">{{bio['site']}}</a></h4>
          <p>{{echonest_util.truncate_bio(bio['text'])}}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro artist_news_list(artist) %}
<ul class="media-list">
    {% for story in artist.news %}
    <li class="media">
        <div class="media-body">
          <h4 class="media-heading"><a href="{{story['url']}}">{{story['name']}}</a></h4>
          {% set date_str = story['date_found'] %}
          {% if date_str|length > 0 %}
          <span class="label label-primary"><i class="fa fa-calendar"></i> {{echonest_util.pretty_date(date_str)}} </span>
          {% endif %}
          <p>{{story['summary']}}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro artist_blogs_list(artist) %}
<ul class="media-list">
    {% for b in artist.blogs %}
    <li class="media">
        <div class="media-body">
          <h4 class="media-heading"><a href="{{b['url']}}">{{b['name']}}</a></h4>
          {% set date_str = b['date_posted'] %}
          {% if date_str|length > 0 %}
          <span class="label label-primary"><i class="fa fa-calendar"></i> {{echonest_util.pretty_date(date_str)}} </span>
          {% endif %}
          <p>{{b['summary']}}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endmacro %}
