{% extends "base.html" %}
{% block title %}Welcome to Personify!{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
  <img class="img-responsive center-block" src="images/personify_logo.png" width="256" height="256">
    <h1>Welcome to Personify!</h1>
    <p>Personify is a place where the people behind the music are emphasized. Come here to learn about your favorite artists and stay up to date.</p>
    <p>Try searching for your favorite artist, or take a look around at the top artists right now. You can even explore whole genres to discover new and familiar sounds.</p>
  </div>
</div>
{% endblock %}