{% extends "base.html" %}
{% block title %}Personify - Styles{% endblock %}
{% block head %}
 <link rel="stylesheet" type="text/css" href="/css/styles.css">
{% endblock %}

{% block content %}
<div class="container">
<h1>Exploring Music Styles</h1>
<p class="lead">Click a link to explore top artists in that style!</p>
{% for style in styles_list %}
{% set style_name = style['name'] %}
<a class="btn btn-{{ echonest_util.random_modifier_class() }} btn-xl" href="/style?name={{ style_name|e }}">{{ style_name }}</a>
{% endfor %}
</div>
{% endblock %}